.about-main {
  &__stats {
    border: 3px solid $orange;
    border-radius: 15px;
    padding: 50px 70px;
    margin-bottom: 65px;
    @media (max-width: 1199px) {
      padding: 20px 30px;
    }
  }
  &__stats-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
      margin: -10px 0 50px;
    }
    @media (max-width: 767px) {
      margin-bottom: 30px;
      align-items: flex-start;
    }
  }
  &__stats-item {
    display: flex;
    align-items: center;
    flex: 0 1 calc(100% / 3 - 20px);
    @media (max-width: 1199px) {
      flex-basis: calc(100% / 3 - 10px);
    }
    @media (max-width: 991px) {
      flex-basis: 100%;
      margin: 10px 0;
    }
    svg {
      flex-shrink: 0;
      width: 67px;
      height: 67px;
      margin-right: 20px;
      @media (max-width: 767px) {
        width: 48px;
        height: 48px;
      }
    }
  }
  &__stats-item-text {
    font-family: 'Gilroy', sans-serif;
    color: $orange;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    @media (max-width: 991px) {
      br {
        display: none;
      }
    }
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__stats-title {
    font-family: 'Gilroy', sans-serif;
    color: $purple;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    max-width: 670px;
    margin: 0 auto;
    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 25px;
    }
  }
  &__stats-bottom {
    max-width: 770px;
    margin: 0 auto;
  }
  &__text {
    margin-bottom: 50px;
    p {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__subtitle {
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 20px;
  }
}