extends ../layout
include ../mixins/mixins

block header
    include ../components/header
block content
    main.page-wrapper.page-wrapper--contacts
        .container
            .breadcrumbs
                a(href="#").breadcrumbs__item Хлебные крошки
                a(href="#").breadcrumbs__item Хлебные крошки
                .breadcrumbs__item Хлебные крошки
        section.contacts-section
            .contacts
                ._container.container
                    h2.h2-common.txt-left Контакты туристического агентства<br>World Travel Union
                    ._wrapper.flex-wrapper
                        ._inner
                            ._subtitle Телефон:
                            .phones
                                ._phone
                                    +icon('phone')
                                    a(href="tel:+74959842944") +7 (495) 984-29-44
                                ._phone
                                    +icon('whatsapp')
                                    a(href="https://wa.me/79687391579") +7 (968) 739-15-79
                        button.common-btn.common-btn--orange.js-open-modal(data-modal="#modal-callback") Перезвоните мне
                        ._inner
                            ._subtitle Социальные сети:
                            .socials
                                a(href="#")._social
                                    +icon('insta')
                                a(href="#")._social
                                    +icon('facebook')
        include ../components/map-section
        section.contact-additional
            .container
                h1.h1-common.txt-center
                    span.txt-orange WORLD TRAVEL UNION
                    .h1-subtitle организуем путешествия с 2001 года
                .about-main
                    ._stats
                        ._stats-items
                            ._stats-item
                                +icon('suitcase')
                                ._stats-item-text Это больше<br> 7000 поездок
                            ._stats-item
                                +icon('pics')
                                ._stats-item-text 100 000 фотографий
                            ._stats-item
                                +icon('smile')
                                ._stats-item-text 1 000 000 улыбок и&nbsp;моментов радости
                        ._stats-title И один большой секрет —<br>нам очень нравится то, что мы делаем
                .btns-wrapper
                    a(href="#").common-btn.common-btn--purple.common-btn--lg
                        span Познакомиться с командой мечтателей<br>World Travel Union
block footer
    include ../components/footer