extends ../layout
include ../mixins/mixins

block header
    include ../components/header
block content
    main.page-wrapper.page-wrapper--price-warranty
        .container
            .breadcrumbs
                a(href="#").breadcrumbs__item Хлебные крошки
                a(href="#").breadcrumbs__item Хлебные крошки
                .breadcrumbs__item Хлебные крошки
        .price-warranty
            ._container.container
                ._inner
                    ._title У нас туры дешевле, чем у туроператоров
                    ._content
                        h2.h2-common.txt-left Как это возможно?
                        .typography
                            p Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения соответствующий условий активизации.
                            p Таким образом консультация с широким активом требуют определения и уточнения модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений. Таким образом сложившаяся структура организации в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и административных условий.
        section.blue-bg
            .container
                h2.h1-common.txt-orange.txt-center Еще дешевле!
                h2.h2-common.-hot
                    +icon('flame')
                    | Горящие туры по всему миру
                <div class="tv-hot-tours tv-moduleid-995584 mb-4"></div>
                .btns-wrapper
                    a(href="#").common-btn.common-btn--orange Показать все скидки
        section.promo-section
            include ../components/promo

block footer
    include ../components/footer