extends ../layout
include ../mixins/mixins

block header
    include ../components/header
block content
    main.page-wrapper.page-wrapper--sale
        <div class="tv-image-slider tv-moduleid-995586"></div>
        section
            .container
                h2.h2-common Туры #[span.txt-orange «отель + перелёт»] со скидками
                <div class="tv-search-form tv-moduleid-199200"></div>
        section.banner-fw-section
            include ../components/banner-fw
        section.promo-section
            include ../components/promo
        section.additional-info-section
            include ../components/additional-info
        section.blue-bg
            .container
                h2.h2-common.-hot
                    +icon('flame')
                    | Горящие туры по всему миру
                <div class="tv-hot-tours tv-moduleid-995584 mb-4"></div>
                .btns-wrapper
                    a(href="#").common-btn.common-btn--orange Показать все скидки
block footer
    include ../components/footer