extends ../layout
include ../mixins/mixins

block header
    include ../components/header
block content
    main.page-wrapper.page-wrapper--tours-group
        .blue-bg
            .container
                .breadcrumbs
                    a(href="#").breadcrumbs__item Хлебные крошки
                    a(href="#").breadcrumbs__item Хлебные крошки
                    .breadcrumbs__item Хлебные крошки
                h1.h1-common Туры на Килиманджаро с русскоязычным гидом
                include ../components/tours-filter
                include ../components/filter-results
            section.tours-section.pt-0
                include ../components/tours-sm
                .btns-wrapper.-more
                    button.common-btn.common-btn--lg.common-btn--orange Показать ещё
            section.tours-section.tablet-hide
                include ../components/tours-lg
        section
            .container
                .typography
                    .typography-container
                        h2.h2-common.txt-left Покоряйте Килиманджаро с World Travel Union
                        p Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения соответствующий условий активизации.

                        p Таким образом консультация с широким активом требуют определения и уточнения модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений. Таким образом сложившаяся структура организации в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и административных условий.
                    ._img
                        +picture('tours-group1', 'png', 1170, 725)
                    .typography-container
                        h2.h2-common.txt-left Заголовок 2
                        p Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения соответствующий условий активизации.

                        p Таким образом консультация с широким активом требуют определения и уточнения модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений. Таким образом сложившаяся структура организации в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и административных условий.
                    ._img
                        +videoFancyboxYT('https://www.youtube.com/watch?v=S782jv9z5ck', 'tours-group2', 'png', 1170, 725, 'tg-gal1', true)
                    .typography-container
                        h2.h2-common.txt-left Заголовок 3
                        p Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения соответствующий условий активизации.

                        p Таким образом консультация с широким активом требуют определения и уточнения модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции способствует подготовки и реализации новых предложений. Таким образом сложившаяся структура организации в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и административных условий.
                        blockquote Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения соответствующий условий активизации.
        section.banner-fw-section
            include ../components/banner-fw
        section.promo-section.white-bg
                include ../components/promo
        section.testimonials-section
            include ../components/testimonials

block footer
    include ../components/footer