extends ../layout
include ../mixins/mixins

block header
    include ../components/header
block content
    main.page-wrapper.page-wrapper--tours-selection
        .container
            .breadcrumbs
                a(href="#").breadcrumbs__item Хлебные крошки
                a(href="#").breadcrumbs__item Хлебные крошки
                .breadcrumbs__item Хлебные крошки
            h1.h1-common Популярные подборки туров
        section.tour-selection-wrapper
            .tour-selection
                ._container.container
                    h2.h2-common.txt-left По региону или стране
                    ._items.js-read-more-wrapper
                        ._items-inner.read-more__container.js-read-more-container
                            ._col
                                a(href="#")._item #Туры в Австралию
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Албанию
                                a(href="#")._item #Туры в Албанию
                            ._col
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Албанию
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                            ._col
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                                a(href="#")._item #Туры в Албанию
                                a(href="#")._item #Туры в Австралию
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Албанию
                    .read-more__toggle.js-read-more-toggle
                        span.read-more__toggle-text Показать еще
        section.tour-selection-wrapper.blue-bg
            .tour-selection
                ._container.container
                    h2.h2-common.txt-left По городу
                    ._items.js-read-more-wrapper
                        ._items-inner.read-more__container.js-read-more-container
                            ._col
                                a(href="#")._item #Туры в Австралию
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Албанию
                                a(href="#")._item #Туры в Албанию
                            ._col
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Албанию
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                            ._col
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                                a(href="#")._item #Туры в Албанию
                                a(href="#")._item #Туры в Австралию
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Албанию
                    .read-more__toggle.js-read-more-toggle
                        span.read-more__toggle-text Показать еще
        section.tour-selection-wrapper
            .tour-selection
                ._container.container
                    h2.h2-common.txt-left По виду активности
                    ._items.js-read-more-wrapper
                        ._items-inner.read-more__container.js-read-more-container
                            ._col
                                a(href="#")._item #Туры в Австралию
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Албанию
                                a(href="#")._item #Туры в Албанию
                            ._col
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Албанию
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                            ._col
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                                a(href="#")._item #Туры в Албанию
                                a(href="#")._item #Туры в Австралию
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Албанию
                    .read-more__toggle.js-read-more-toggle
                        span.read-more__toggle-text Показать еще
        section.tour-selection-wrapper.blue-bg
            .tour-selection
                ._container.container
                    h2.h2-common.txt-left По типу тура
                    ._items.js-read-more-wrapper
                        ._items-inner.read-more__container.js-read-more-container
                            ._col
                                a(href="#")._item #Туры в Австралию
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Албанию
                                a(href="#")._item #Туры в Албанию
                            ._col
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Албанию
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                            ._col
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Австралию и очень длинное название, чтобы показать, как будет выглядеть перенос и отступы
                                a(href="#")._item #Туры в Албанию
                                a(href="#")._item #Туры в Австралию
                                a(href="#")._item #Туры в Австрию
                                a(href="#")._item #Туры в Африку
                                a(href="#")._item #Туры в Албанию
                    .read-more__toggle.js-read-more-toggle
                        span.read-more__toggle-text Показать еще
        section.popular-tour-selection-wrapper
            .popular-tour-selection
                ._container.container
                    ._inner
                        h2.h2-common.txt-left Популярные подборки туров
                        ._items
                            ._col
                                a(href="#")._item #Активные туры
                                a(href="#")._item #Активные туры в Азкабан
                                a(href="#")._item #Трекинг
                                a(href="#")._item #Трекинг по лесам Азии
                            ._col
                                a(href="#")._item #Активные туры
                                a(href="#")._item #Активные туры в Азкабан
                                a(href="#")._item #Трекинг
                                a(href="#")._item #Трекинг по лесам Азии
                            ._col
                                a(href="#")._item #Активные туры
                                a(href="#")._item #Активные туры в Азкабан
                                a(href="#")._item #Трекинг
                                a(href="#")._item #Трекинг по лесам Азии
                            ._col
                                a(href="#")._item #Активные туры
                                a(href="#")._item #Активные туры в Азкабан
                                a(href="#")._item #Трекинг
                                a(href="#")._item #Трекинг по лесам Азии
                        .btns-wrapper
                            button.common-btn.common-btn--orange Смотреть все подборки
block footer
    include ../components/footer