.modal.modal--book#modal-book
    .modal__inner
        .modal__close-cross.js-close-modal
            +icon('close')
        .book-tour
            h2.h2-common Узнать подробности<br>и забронировать тур
            form._common-form.common-form
                ._inner
                    ._left
                        +form-group('text', 'tp-name', 'Имя*', true, 'input-common', 'label-common', 'Имя')
                        +form-group('tel', 'tp-tel', 'Телефон*', true, 'input-common', 'label-common', '+7 (___) ___–__–__')
                        .fg-wrapper
                            +form-group('email', 'tp-email', 'E-mail', false, 'input-common', 'label-common', 'example@pochta.ru')
                            +form-group('number', 'tp-num', 'Количество человек', true, 'input-common input-common-w-icon', 'label-common', '1')
                    ._right
                        +form-group-date('tp-date', 'Даты', true, 'input-common', 'label-common', 'Укажите даты или месяц')
                        +form-group-textarea('tp-comment', 'Ваши пожелания или вопрос', true, '', 'input-common', 'label-common', 'Здесь вы можете указать желаемый тип проживания, питания, развлечений или задать любой другой вопрос')
                .btns-wrapper
                    button.common-btn.common-btn--lg.common-btn--orange Отправить
                    +form-group-checkbox-allow('tp-allow', true, true, 'custom-checkbox', 'custom-checkbox__label')