.modal.-success#modal-success
    ._inner.-purple
        ._close-cross.js-close-modal
            +icon('close')
        ._success-icon
            +icon('check')
        h2.h2-common Заявку получили!<br>Ваше путешествие в надежных руках.
        p Все подготовим и перезвоним вам
