section.about-advantages
    .__box
        h2.h2-common.txt-white Мы знаем, что важно в путешествии, и всегда заботимся об этом:
        ._items
            ._item
                ._icon
                    +icon('shield')
                ._text Визовая поддержка, страховки, соответствующие туру (особенно экстрим!)
            ._item
                ._icon
                    +icon('cards')
                ._text Удобная и официальная оплата (картой, по счету, в офисе)
            ._item
                ._icon
                    +icon('contract')
                ._text Выезд специалиста для оформления договора (для Москвы)
            ._item
                ._icon
                    +icon('deal')
                ._text Работаем с проверенными туроператорами
            ._item
                ._icon
                    +icon('license')
                ._text Все гиды с опытом и лицензиями
            ._item
                ._icon
                    +icon('open-box')
                ._text Система скидок, акция «Отдых&nbsp;бесплатно»
