section.about-main
    ._stats
        ._stats-items
            ._stats-item
                +icon('suitcase')
                ._stats-item-text Это больше<br> 7000 поездок
            ._stats-item
                +icon('pics')
                ._stats-item-text 100 000 фотографий
            ._stats-item
                +icon('smile')
                ._stats-item-text 1 000 000 улыбок и&nbsp;моментов радости
        ._stats-title И один большой секрет —<br>нам очень нравится то, что мы делаем
    ._stats-bottom
        ._text
                p Мы объединили разные концепции отдыха, чтобы вы могли отправиться в путешествие своей мечты — отдохнуть на пляже с белым песком или покорить вершину Эвереста. Или сделать и то и другое в одной поездке!
        ._subtitle А ещё —
        ._text
            p пройти конный маршрут на Алтае, полетать на шаре над пирамидами в Мексике, выйти в море под парусом на яхте, съездить на сафари, отправиться в арктический круиз.
            p Если вы не найдете нужного маршрута в нашем каталоге путешествий, мы создадим его специально для вас.
    ._btns.btns-wrapper
        ._btn.common-btn.common-btn--orange В каталог путешествий
        ._btn.common-btn.common-btn--green Тур, созданный для меня