.additional-info
    ._container.container
        ._items
            ._item
                ._bg-img
                    +picture('ad-info1', 'png', 237, 205)
                ._content
                    ._title Не подходят стандартные варианты?
                    ._subtitle Подберем путешествие специально для вас
                    ._text 170 стран, больше миллиона курортных городков и самых удаленных мест планеты, лучшие отели или путешествия с палаткой
                    button.common-btn.common-btn--orange.js-open-modal(data-modal="#modal-book") Найти тур мечты
            ._item
                ._bg-img
                    +picture('ad-info2', 'png', 237, 205)
                ._content
                    ._title Узнавайте первым об акциях<br>и
                        +icon('flame')
                        span.txt-orange горящих турах
                    ._subtitle Не упустите удачу побывать в путешествии со скидкой до 60%
                    ._subtitle Подписываетесь на наши социальные сети!
                    ._socials
                        a(href="#")._social
                            +icon('insta')
                        a(href="#")._social
                            +icon('facebook')