.advantages-fw
    ._container.container
        ._items
            ._item
                ._icon
                    +icon('deal')
                ._content
                    ._title Работаем с проверенными туроператорами
                    ._text Официальный партнер Pegas, Coral Travel, TUI, Anex Tour, Intourist, Библио Глобкус и еще 12 туроператоров
            ._item
                ._icon
                    +icon('cards')
                ._content
                    ._title Удобная официальная оплата туров
                    ._text Вы сами выбираете, как оплачивать тур — картой, по счету или наличными в офисе
            ._item
                ._icon
                    +icon('shield')
                ._content
                    ._title Оформим визу и страховку «под&nbsp;ключ»
                    ._text Официальный партнер Pegas, Coral Travel, TUI, Anex Tour, Intourist, Библио Глобкус и еще 12 туроператоров
            ._item
                ._icon
                    +icon('contract')
                ._content
                    ._title Выезд менеджера для офомления договора #[span.txt-small (в пределах Москвы)]
                    ._text Вам даже не нужно приезжать в офис! Наш менеджер приедет к вам сам в удобное время
