.cookies-disclaimer.show
    .cookies-disclaimer__inner
        +picture('hippo', 'png', 100, 71)
        .cookies-disclaimer__text Мы используем cookie-файлы, чтобы вам было удобнее пользоваться нашим сайтом.
        .cookies-disclaimer__btn.js-close-cookie Хорошо