footer.footer
    .module-wrapper
        ._inner
            <div class="tv-search-form tv-moduleid-1368055"></div>
    ._top
        ._container.container
            ._inner
                ._logo
                    +pictureSVG('logo', 'svg', '297', '29')
                ._phones
                    ._phone
                        +icon('phone')
                        a(href="tel:+74959842944") +7 (495) 984-29-44
                    ._phone
                        +icon('whatsapp')
                        a(href="https://wa.me/79687391579") +7 (968) 739-15-79
                button.common-btn.common-btn--orange.js-open-modal(data-modal="#modal-book") Найти тур мечты
            nav.nav-menu.-light
                a(href="#")._item Страны и отели
                a(href="#")._item
                    +icon('fire')
                    | Горящие туры
                a(href="#")._item Активные туры
                a(href="#")._item Туры по России
                a(href="#")._item Отель + перелет
                a(href="#")._item Крафтовые туры
            <div class="tv-min-price tv-moduleid-9944896"></div>
            nav.small-nav-menu
                a(href="#")._item WORLD TRAVEL UNION
                a(href="#")._item Отзывы #[span.small-nav-menu__-num (17)]
                a(href="#")._item Гарантия низкой цены
                a(href="#")._item Скидки и подарки
                a(href="#")._item Подборки туров
                a(href="#")._item Контакты
    ._bottom
        ._container.container
            ._bottom-inner
                ._title-wrapper
                    ._title Турагентство World&nbsp;Travel&nbsp;Union
                    ._subtitle Официальный сайт
                ._descriptor Более 10 000 туров:<br> от крафтовых туров до популярных направлений крупнейших туроператоров
                ._address Московская область<br>г. Одинцово, ул. Советская, д. 9, офис 1
                .socials
                    a(href="#")._social
                        +icon('insta')
                    a(href="#")._social
                        +icon('facebook')
                ._policies
                    a(href="#")._policy Политика конфиденциальности
                    a(href="#")._policy Пользовательское соглашение
            ._partners
                ._partners-title Официальный партнер крупнейших туроператоров
                ._partners-items
                    ._partners-item
                        +picture('partners', 'png', '887', '67')
                    ._partners-item.-more и еще 12 туроператоров
            ._credits
                ._credit.-copywrite © Турагентство World Travel Union, 2021
                ._credit.-developers Разработка сайта — #[a(href="https://webelement.ru/") WEBELEMENT]