header.header
    ._announce.js-closable
        .close-cross.js-close
            +icon('close')
        ._announce-text Дарим еще больше отдыха: выходные на Кавказе или неделя в апартаментах в Турции в подарок
        a(href="#")._announce-link Подробнее
    ._top
        ._container.container
            nav.small-nav-menu
                a(href="#")._item WORLD TRAVEL UNION
                a(href="#")._item Отзывы #[span.small-nav-menu__num (17)]
                a(href="#")._item Гарантия низкой цены
                a(href="#")._item Скидки и подарки
                a(href="#")._item Подборки туров
                a(href="#")._item Контакты
    ._middle
        ._container.container
            ._middle-inner
                a(href="/")._logo-box
                    ._logo
                        +pictureSVG('logo', 'svg', '297', '29')
                    ._descriptor #[<b>Более 2000 маршрутов и&nbsp;направлений<span class="mob-hide">: </span></b>]
                        span.mob-hide от отдыха на море до&nbsp;восхождения на Килиманджаро и экспедиций в поиске китов
                ._advantages
                    a(href="#")._advantage-item
                        ._advantage-icon
                            +icon('hot-sale')
                        ._advantage-text Дешевле, чем у&nbsp;туроператоров
                    a(href="#")._advantage-item
                        ._advantage-icon
                            +icon('open-box')
                        ._advantage-text Дарим скидки и&nbsp;подарки
                .phones
                    ._phone
                        +icon('phone')
                        a(href="tel:+74959842944") +7 (495) 984-29-44
                    ._phone
                        +icon('whatsapp')
                        a(href="https://wa.me/79687391579") +7 (968) 739-15-79
                button._btn-callback.common-btn.common-btn--orange.js-open-modal(data-modal='#modal-callback') Перезвоните мне
    ._mobile-bottom
        .mobile-menu-toggle.js-open-mobile-menu
            +icon('menu')
        .mobile-menu
    .colored-hr
    ._container.container
        ._bottom
            nav.nav-menu
                a(href="#")._item Страны и отели
                a(href="#")._item
                    +icon('fire')
                    | Горящие туры
                a(href="#")._item Активные туры
                a(href="#")._item Туры по России
                a(href="#")._item Отель + перелет
                a(href="#")._item Крафтовые туры
    .colored-hr

