section.map-section
    ._container.container
        h2.h2-common._title Приходите к нам в гости
        ._wrapper
            ._map-container#map-container
                .bg-wrapper
                    +picture('map-bg', 'png', '1170', '400')
            ._address
                ._address-text 143007, Московская область,<br>г. Одинцово, ул. Советская, д. 9, офис 1
                a(href="tel:+74959842944")._address-phone 8 (495) 984-29-44