.promo
    ._container.container
        h2.h2-common._title #[span.txt-orange Акции и скидки на путешествия]<br> от WORLD TRAVEL UNION
        ._items
            a(href="#")._item
                .bg-wrapper
                    +picture('promo1', 'png', '370', '434')
                ._item-content
                    ._item-title Неделя в уютной студии в центре&nbsp;Турции бесплатно
                    ._item-btn.common-btn.common-btn--orange Подробнее
            a(href="#")._item
                .bg-wrapper
                    +picture('promo3', 'png', '370', '434')
                ._item-content
                    ._item-title В подарок Выходные&nbsp;на&nbsp;Кавказе
                    ._item-text При покупке любых туров на 300&nbsp;000 рублей
                    ._item-btn.common-btn.common-btn--orange Подробнее
            a(href="#")._item
                .bg-wrapper
                    +picture('promo2', 'png', '370', '434')
                ._item-content
                    ._item-title В подарок Выходные&nbsp;на&nbsp;Кавказе
                    ._item-text При покупке любых туров на 300&nbsp;000 рублей
                    ._item-btn.common-btn.common-btn--orange Подробнее