.similar-tours
    ._container.container
        ._inner
            h2.h2-common Похожие туры
            .tours-wrapper.-sm
                .tours-item.-sm
                    ._img
                        ._closest-dates
                            span Ближайшие даты 23.05.2021
                            a(href="#") Смотреть все
                        +picture('tour-sm1', 'png', '570', '339')
                    ._content
                        ._tags
                            ._tag.-purple Русский гид
                            ._tag.-orange Только у нас!
                            ._tag.-blue Скоро
                        ._region Африка
                        a(href="#")._name Восхождение на Килиманджаро. Ронгай + сафари
                        ._description Восхождение на Килиманджаро с местным гидом и 2 дня сафари после горы
                        ._inner
                            ._inner-item.-duration 5&nbsp;дней / 4&nbsp;ночи
                            ._inner-item.-price
                                span._price-a-day 10 316 ₽/день
                                span._price-total 72 215 ₽ (950 $)
                                ._label
                                    ._label-icon
                                        +icon('sale')
                                    span Лучшая цена
                        .btns-wrapper
                            a(href="#").common-btn.common-btn--lg.common-btn--green Программа и даты тура
                        ._hr
                        ._hashtags
                            a(href="#") #восхождение
                            a(href="#") #треккинг
                .tours-item.-sm
                    ._img
                        ._closest-dates
                            span Ближайшие даты 23.05.2021
                            a(href="#") Смотреть все
                        +picture('tour-sm2', 'png', '570', '339')
                    ._content
                        ._tags
                            ._tag.-purple Русский гид
                            ._tag.-orange Только у нас!
                            ._tag.-blue Скоро
                        ._region Африка
                        a(href="#")._name Восхождение на Килиманджаро. Ронгай + сафари
                        ._description Восхождение на Килиманджаро с местным гидом и 2 дня сафари после горы
                        ._inner
                            ._inner-item.-duration 5&nbsp;дней / 4&nbsp;ночи
                            ._inner-item.-price
                                span._price-a-day 10 316 ₽/день
                                span._price-total 72 215 ₽ (950 $)
                                ._label
                                    ._label-icon
                                        +icon('sale')
                                    span Лучшая цена
                        .btns-wrapper
                            a(href="#").common-btn.common-btn--lg.common-btn--green Программа и даты тура
                        ._hr
                        ._hashtags
                            a(href="#") #восхождение
                            a(href="#") #треккинг