section.team
    h2.h2-common #[span.txt-orange WORLD TRAVEL UNION] <br> — это команда путешественников и мечтателей
    ._boss
        ._photo
            +picture('team1', 'png', '225', '225')
        ._content
            ._name Алисия
            ._text Руководитель и идейный вдохновитель World Travel Union. Ее девиз «Человек рожден увидеть мир» и лег в основу работы компании.
    ._staff
        ._staff-item
            ._photo
                +picture('team2', 'png', '225', '225')
            ._content
                ._name Анастасия
                ._text Руководитель отдела «Активный отдых», КМС и инструктор по альпинизму. С 2016 г занимается организацией туров по всему миру, включая экспедиции на Эверест и Южный полюс. Много путешествует. Кроме спортивных восхождений, работала с группами в Непале, на Килиманджаро, Эльбрусе и Охос-дель-Саладо.
        ._staff-item
            ._photo
                +picture('team3', 'png', '225', '225')
            ._content
                ._name Абрахам
                ._text Гид на Килиманджаро с государственной лицензией и всеми необходимыми сертификатами для работы с группами.
        ._staff-item
            ._photo
                +picture('team4', 'png', '225', '225')
            ._content
                ._name Игорь
                ._text Гид активных туров на Кавказе. Первые восторженные отзывы обычно именно о нем, а потом уже о горах и приключениях на Кавказе. Игорь обожает Кавказ и кавказскую кухню, знает, где самые красивые горы и самые вкусные хичины!
        ._staff-item
            ._photo
                +picture('team5', 'png', '225', '225')
            ._content
                ._name Олеся
                ._text Гид-эксперт по странам Северной и Южной Америк. Олеся может организовать путешествие или экспедицию любой сложности, кроме того сама с удовольствием и высоким профессионализмом проводит программы по Америке.
        ._staff-item
            ._photo
                +picture('team6', 'png', '225', '225')
            ._content
                ._name Наталья
                ._text Встречает наших путешественников на Кавказе и помогает с любыми вопросами. Проводит экскурсионные программы на КавМинВодах и легкие треккинги. Обожает Кавказ и лыжи. Занимается наполнением и обновлением сайта.
        ._staff-item
            ._photo
                +picture('team7', 'png', '225', '225')
            ._content
                ._name Ричард
                ._text Наш главный гид на Килиманджаро. Веселый, опытный, со всеми необходимыми сертификатами о подготовке. Был на Килиманджаро несчетное количество раз, однако обожает свою работу и не считает ее рутиной. И даже поет подбадривающие песни, если клиент отказывается дойти последние 100 м до вершины, что, несомненно работает! У Ричарда хороший английский, с удовольствием рассказывает о жизни в Танзании.