.testimonials
    ._container.container
        h2.h2-common Отзывы о путешествиях<br>#[span.txt-orange с World Travel Union]
        ._items
            ._item
                ._name Константин Константинопольский
                ._date 12.05.2021
                ._tags Тур «Название»  /  7 ночей  /  отель «Название»
                ._text Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения соответствующий условий активизации.
                ._images
                    ._image
                        +pictureFancybox('testim1', 'png', 175, 130, 'testimonials1')
                    ._image
                        +pictureFancybox('testim2', 'png', 175, 130, 'testimonials1')
                    ._image
                        +pictureFancybox('testim3', 'png', 175, 130, 'testimonials1')
                    ._image
                        +pictureFancybox('testim4', 'png', 175, 130, 'testimonials1')
                    ._image
                        +pictureFancybox('testim5', 'png', 175, 130, 'testimonials1')
                    a(href='img/testim1.png' data-fancybox='testimonials1')._image.-more
                        ._more-block +6 фото
                    ._image.-hidden
                        +pictureFancybox('testim2', 'png', 175, 130, 'testimonials1')
                    ._image.-hidden
                        +pictureFancybox('testim3', 'png', 175, 130, 'testimonials1')
                    ._image.-hidden
                        +pictureFancybox('testim4', 'png', 175, 130, 'testimonials1')
            ._item
                ._name Константин Константинопольский
                ._date 12.05.2021
                ._tags Тур «Название»  /  7 ночей  /  отель «Название»
                ._text Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения соответствующий условий активизации.
        .btns-wrapper
            a(href="#")._btn.common-btn.common-btn--lg.common-btn--orange Все отзывы