section.tours-banners
    ._container.container
        h2.h2-common.h2-common--underlined._title Яркие маршруты путешествий
        ._items
            a(href="#")._item.-lg
                .bg-wrapper
                    +picture('tour1', 'png', '270', '330')
                ._item-content
                    ._item-title Покоряйте вершины&nbsp;Африки
                    ._item-text Восхождения на Килиманджаро с&nbsp;опытным&nbsp;гидом
                    ._item-btn 10 маршрутов разной сложности
            a(href="#")._item.-sm
                .bg-wrapper
                    +picture('tour2', 'png', '570', '283')
                ._item-content
                    ._item-title Вершины туманного&nbsp;Эквадора
            a(href="#")._item.-sm
                .bg-wrapper
                    +picture('tour3', 'png', '570', '283')
                ._item-content
                    ._item-title Завтракайте с жирафами в&nbsp;сафари-путешествии
