.tour-highlights
    ._container.container
        ._inner
            ._left
                ._subtitle Яркие моменты тура
                ._items
                    ._item
                        +icon('smile2')
                        ._text Покорим вершину высотой 5000 метров
                    ._item
                        +icon('smile2')
                        ._text Подгладим зебру и, если повезет, увидим вдалеке льва
                    ._item
                        +icon('smile2')
                        ._text Подгладим зебру и, если повезет, увидим вдалеке льва
                    ._item
                        +icon('smile2')
                        ._text Покорим вершину высотой 5000 метров
            ._right
                ._subtitle Останется на фотографиях
                ._items
                    ._item
                        +icon('gallery')
                        ._text Покорим вершину высотой 5000 метров
                    ._item
                        +icon('gallery')
                        ._text Подгладим зебру и, если повезет, увидим вдалеке льва
                    ._item
                        +icon('gallery')
                        ._text Подгладим зебру и, если повезет, увидим вдалеке льва
                    ._item
                        +icon('gallery')
                        ._text Покорим вершину высотой 5000 метров