.tour-program
    ._container.container
        ._inner
            ._sidebar-box
                include ../components/sidebar
            ._main-box
                h2.h2-common.txt-left Программа тура
                ._days#program
                    ._day.accordion.opened
                        ._day-title.accordion__title.opened.js-accordion #[span.txt-orange День 1.] Прилет в Найроби, переезд в отель
                        ._day-content.accordion__content.js-accordion-content
                            p Встреча в аэропорту, трансфер в отель. Отдых.
                            ._slider-wrapper
                                .arrow.arrow--prev
                                    +icon('arrow')
                                .arrow.arrow--next
                                    +icon('arrow')
                                ._slider.js-program-slider
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                    ._day.accordion.opened
                        ._day-title.accordion__title.opened.js-accordion #[span.txt-orange День 2.] Переезд в Sirimon Gate 2650 м., переход в Лагерь Judimere Campsite 3300 м.
                        ._day-content.accordion__content.js-accordion-content
                            p Переезд из Найроби к Sirimon Gate, откуда начнется наш треккинг к лагерю Judimere Сampsite. Сегодня мы пройдем 9 км., переход займет 3-4 часа. Лагерь находится на высоте 3300 м. Сегодня наш путь будет лежать через джунгли.

                            p Ужин. Ночь в палатке.

                            p Что мы увидим:
                            p Какие фотографии сделаем:
                            ._slider-wrapper
                                .arrow.arrow--prev
                                    +icon('arrow')
                                .arrow.arrow--next
                                    +icon('arrow')
                                ._slider.js-program-slider
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                    ._day.accordion
                        ._day-title.accordion__title.js-accordion #[span.txt-orange День 3.] Переезд в Sirimon Gate 2650 м., переход в Лагерь Judimere Campsite 3300 м.
                        ._day-content.accordion__content.js-accordion-content
                            p Переезд из Найроби к Sirimon Gate, откуда начнется наш треккинг к лагерю Judimere Сampsite. Сегодня мы пройдем 9 км., переход займет 3-4 часа. Лагерь находится на высоте 3300 м. Сегодня наш путь будет лежать через джунгли.

                            p Ужин. Ночь в палатке.

                            p Что мы увидим:
                            p Какие фотографии сделаем:
                            ._slider-wrapper
                                .arrow.arrow--prev
                                    +icon('arrow')
                                .arrow.arrow--next
                                    +icon('arrow')
                                ._slider.js-program-slider
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                    ._day.accordion
                        ._day-title.accordion__title.js-accordion #[span.txt-orange День 4.] Переезд в Sirimon Gate 2650 м., переход в Лагерь Judimere Campsite 3300 м.
                        ._day-content.accordion__content.js-accordion-content
                            p Переезд из Найроби к Sirimon Gate, откуда начнется наш треккинг к лагерю Judimere Сampsite. Сегодня мы пройдем 9 км., переход займет 3-4 часа. Лагерь находится на высоте 3300 м. Сегодня наш путь будет лежать через джунгли.

                            p Ужин. Ночь в палатке.

                            p Что мы увидим:
                            p Какие фотографии сделаем:
                            ._slider-wrapper
                                .arrow.arrow--prev
                                    +icon('arrow')
                                .arrow.arrow--next
                                    +icon('arrow')
                                ._slider.js-program-slider
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                ._testimonials#testimonials
                    h2.h2-common.txt-left Обзоры и видео от наших туристов и блогеров
                    ._slider-wrapper
                        .arrow.arrow--prev
                            +icon('arrow')
                        .arrow.arrow--next
                            +icon('arrow')
                        ._slider.-testimonials.js-testimonials-slider
                            ._slide.-testimonials
                                +videoFancyboxYT('https://www.youtube.com/watch?v=S782jv9z5ck', 'testim-slide1', 'png', '380', '270', 'program-gal1', true)
                            ._slide.-testimonials
                                +videoFancyboxYT('https://www.youtube.com/watch?v=fOGh6YKHdLs', 'testim-slide2', 'png', '380', '270', 'program-gal1', true)
                            ._slide.-testimonials
                                +videoFancyboxYT('https://www.youtube.com/watch?v=S782jv9z5ck', 'testim-slide1', 'png', '380', '270', 'program-gal1', true)
                            ._slide.-testimonials
                                +videoFancyboxYT('https://www.youtube.com/watch?v=fOGh6YKHdLs', 'testim-slide2', 'png', '380', '270', 'program-gal1', true)
                            ._slide.-testimonials
                                +videoFancyboxYT('https://www.youtube.com/watch?v=S782jv9z5ck', 'testim-slide1', 'png', '380', '270', 'program-gal1', true)
                            ._slide.-testimonials
                                +videoFancyboxYT('https://www.youtube.com/watch?v=fOGh6YKHdLs', 'testim-slide2', 'png', '380', '270', 'program-gal1', true)
                ._price#price
                    h2.h2-common.txt-left Цена тура и даты
                    ._day.accordion.opened
                        ._day-title.accordion__title.opened.js-accordion Базовая цена тура
                        ._day-content.accordion__content.js-accordion-content
                            .tour-price
                                span._price-a-day 10 316 ₽/день
                                span._price-total 72 215 ₽ (950 $)
                                ._label
                                    ._label-icon
                                        +icon('sale')
                                    span Лучшая цена
                            ._subtitle-sm Стоимость на 1 человека
                            .common-ul
                                li при заявке 1 человек:
                                    b.txt-orange 1100 USD
                                li при заявке 2-3 человека:
                                    b.txt-orange 980 USD
                                li при заявке от 4 человек:
                                    b.txt-orange 950 USD
                            ._sale
                                ._sale-title Путешествуете один, но хотите #[span.txt-orange получить скидку?]
                                p Оставьте заявку. Мы сообщим вам, как только появится еще один путешественник для подачи совместной заявки.
                                button.common-btn.common-btn--orange.js-open-modal(data-modal="#modal-book") Оставить заявку
                    ._day.accordion
                        ._day-title.accordion__title.js-accordion В стоимость тура уже включено
                        ._day-content.accordion__content.js-accordion-content
                            ._subtitle-sm Стоимость на 1 человека
                            .common-ul
                                li при заявке 1 человек:
                                    b.txt-orange 1100 USD
                                li при заявке 2-3 человека:
                                    b.txt-orange 980 USD
                                li при заявке от 4 человек:
                                    b.txt-orange 950 USD
                            ._sale
                                ._sale-title Путешествуете один, но хотите #[span.txt-orange получить скидку?]
                                p Оставьте заявку. Мы сообщим вам, как только появится еще один путешественник для подачи совместной заявки.
                                button.common-btn.common-btn--orange Оставить заявку
                    ._day.accordion
                        ._day-title.accordion__title.js-accordion Цена не включает
                        ._day-content.accordion__content.js-accordion-content
                            ._subtitle-sm Стоимость на 1 человека
                            .common-ul
                                li при заявке 1 человек:
                                    b.txt-orange 1100 USD
                                li при заявке 2-3 человека:
                                    b.txt-orange 980 USD
                                li при заявке от 4 человек:
                                    b.txt-orange 950 USD
                            ._sale
                                ._sale-title Путешествуете один, но хотите #[span.txt-orange получить скидку?]
                                p Оставьте заявку. Мы сообщим вам, как только появится еще один путешественник для подачи совместной заявки.
                                button.common-btn.common-btn--orange Оставить заявку
                    ._day.accordion#dates
                        ._day-title.accordion__title.js-accordion Даты тура
                        ._day-content.accordion__content.js-accordion-content
                            ._sale
                                ._sale-title Уточните даты #[span.txt-orange или забронируйте тур на свои даты]
                                p Выбрать правильные даты для путешествия очень важно. Так вы не упустите яркие впечатления и возможности, ради которых отправляетесь в поездку. Наш менеджер подробно расскажет о преимуществах путешествия в каждый из сезонов и посоветует лучшие даты тура именно для вас.
                                .btns-wrapper
                                    button.common-btn.common-btn--orange.js-open-modal(data-modal="#modal-book") Заявка на тур
                                    a(href="https://wa.me/79687391579").common-btn.common-btn--green Написать в WhatsApp
                                    .phones
                                        ._phone
                                            +icon('phone')
                                            a(href="tel:+74959842944") +7 (495) 984-29-44

                ._rooms-n-food#rooms
                    h2.h2-common.txt-left Проживание и питание во время тура
                    ._day.accordion.opened
                        ._day-title.accordion__title.opened.js-accordion Проживание
                        ._day-content.accordion__content.js-accordion-content
                            p Отель 3* в Моши. На Килиманджаро проживание в палатках. На сафари проживание в лодже.
                    ._day.accordion.opened
                        ._day-title.accordion__title.opened.js-accordion Питание
                        ._day-content.accordion__content.js-accordion-content
                            p В гостинице включен только завтрак. На восхождении и на сафари вам готовит повар. На Килиманджаро - завтрак, ужин, чай около 4 часов вечера, а на время дневных переходов выдается ланч-пакет. Обычно в рационе супы-пюре, картошка, рис, тушеные овощи, курица, мясо, гренки, мед, джемы, чай, кофе. Посуда предоставляется.

                            p Обслуживающий персонал<br>Англоговорящие гиды (1 на 3-4 человека на восхождении), повар, носильщики.
                            ._slider-wrapper
                                .arrow.arrow--prev
                                    +icon('arrow')
                                .arrow.arrow--next
                                    +icon('arrow')
                                ._slider.js-program-slider
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                                    ._slide
                                        +picture('day-slide1', 'png', '770', '440')
                include ../components/book-tour
                ._misc#misc
                    h2.h2-common.txt-left Дополнительная информация для путешественника
                    ._day.accordion
                        ._day-title.accordion__title.js-accordion Взять с собой
                        ._day-content.accordion__content.js-accordion-content
                            ._subtitle-sm Стоимость на 1 человека
                            .common-ul
                                li при заявке 1 человек:
                                    b.txt-orange 1100 USD
                                li при заявке 2-3 человека:
                                    b.txt-orange 980 USD
                                li при заявке от 4 человек:
                                    b.txt-orange 950 USD
                            ._sale
                                ._sale-title Путешествуете один, но хотите #[span.txt-orange получить скидку?]
                                p Оставьте заявку. Мы сообщим вам, как только появится еще один путешественник для подачи совместной заявки.
                                button.common-btn.common-btn--orange Оставить заявку
                    ._day.accordion
                        ._day-title.accordion__title.js-accordion Специальное и туристическое снаряжение
                        ._day-content.accordion__content.js-accordion-content
                            ._subtitle-sm Стоимость на 1 человека
                            .common-ul
                                li при заявке 1 человек:
                                    b.txt-orange 1100 USD
                                li при заявке 2-3 человека:
                                    b.txt-orange 980 USD
                                li при заявке от 4 человек:
                                    b.txt-orange 950 USD
                            ._sale
                                ._sale-title Путешествуете один, но хотите #[span.txt-orange получить скидку?]
                                p Оставьте заявку. Мы сообщим вам, как только появится еще один путешественник для подачи совместной заявки.
                                button.common-btn.common-btn--orange Оставить заявку
                    ._day.accordion
                        ._day-title.accordion__title.js-accordion Визовая поддержка
                        ._day-content.accordion__content.js-accordion-content
                            ._subtitle-sm Стоимость на 1 человека
                            .common-ul
                                li при заявке 1 человек:
                                    b.txt-orange 1100 USD
                                li при заявке 2-3 человека:
                                    b.txt-orange 980 USD
                                li при заявке от 4 человек:
                                    b.txt-orange 950 USD
                            ._sale
                                ._sale-title Путешествуете один, но хотите #[span.txt-orange получить скидку?]
                                p Оставьте заявку. Мы сообщим вам, как только появится еще один путешественник для подачи совместной заявки.
                                button.common-btn.common-btn--orange.js-open-modal(data-modal="#modal-callback") Оставить заявку
                    ._day.accordion
                        ._day-title.accordion__title.js-accordion Как добраться
                        ._day-content.accordion__content.js-accordion-content
                            ._subtitle-sm Стоимость на 1 человека
                            .common-ul
                                li при заявке 1 человек:
                                    b.txt-orange 1100 USD
                                li при заявке 2-3 человека:
                                    b.txt-orange 980 USD
                                li при заявке от 4 человек:
                                    b.txt-orange 950 USD
                            ._sale
                                ._sale-title Путешествуете один, но хотите #[span.txt-orange получить скидку?]
                                p Оставьте заявку. Мы сообщим вам, как только появится еще один путешественник для подачи совместной заявки.
                                button.common-btn.common-btn--orange Оставить заявку
