.tour-description
    ._container.container
        ._inner
            ._left
                h2.h2-common.txt-left Описание тура
                .read-more
                    ._wrapper.js-read-more-wrapper
                        ._container.js-read-more-container
                            p Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения соответствующий условий активизации.
                            p Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения соответствующий условий активизации.
                            p Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения соответствующий условий активизации.
                            p Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения соответствующий условий активизации.
                    ._toggle.js-read-more-toggle
                        span._toggle-text Читать подробнее
                        span._toggle-arrow  ▼
            ._right
                ._subtitle Это крафтовый тур, поэтому вы можете:
                .common-ul.-white
                    li Внести изменения в маршрут
                    li Выбрать любые даты
                    li Изменить тип проживания, убрать или добавить экскурсии и трансфер и т. д.
                .btns-wrapper
                    button.common-btn.common-btn--orange.js-open-modal(data-modal="#modal-callback") Обсудить с менеджером
                    a(href="https://wa.me/79687391579").common-btn.common-btn--green Написать в WhatsApp