$black: #000;
$white: #fff;
$light-gray: #f5f5f5;
$c4-light-gray: #c4c4c4;
$gray: #666666;
$orange: #FF972F;
$dark-gray: #293033;
$medium-gray: #999999;
$purple: #522478;
$light-blue: #EDF6FB;
$green: #11998E;

$blue-gradient: linear-gradient(90deg, #45CAC7 8.96%, #009EFD 91.81%);
$purple-gradient: linear-gradient(125deg, #522478 27.35%, #6E48AA 91.75%);
$green-gradient: linear-gradient(290.75deg, #11998E 26.17%, #38EF7D 102.82%);
$orange-gradient: linear-gradient(275.12deg, #FF6162 10.55%, #FF9F26 95.75%);
